<h3>USER LIST</h3>   
<br>   
<table class="table table-bordered table-striped">   
    <tr>   
        <th>First Name</th>   
        <th>Last Name</th>   
        <th>Email</th>   
        <th>Username</th>   
    </tr>     
    <tr>   
        <td><%= @user.first_name %></td>   
        <td><%= @user.last_name %></td> 
        <td><%= @user.email %></td> 
        <td><%= @user.username %></td> 
    </tr> 
</table>  